---
interface CompGridProps {
  badge?: string;
  description: string;
  href?: string;
  src: string;
  title: string;
}

interface ComponentProps {
  data: CompGridProps[];
}

const { data } = Astro.props as ComponentProps;
---

<style>
.compElement {
  background-color: #fefeff;
  border: 1px solid #d3d5de;
  margin-bottom: 1.2rem;
}

.compLink {
  text-decoration: none;
}

.compFooter {
  padding: 0.875rem 1rem;
}

.compBadge {
  background-color: #dc0988;
  border-radius: 9999px;
  color: white;
  font-size: .6125rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  text-transform: uppercase;
  vertical-align: middle;
}

.compTitle {
  color: #465161;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

:global([data-theme='dark']) .compTitle {
  color: #e3e3e3;
}

.compDescription {
  color: #939eae;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.compElement a:hover {
  text-decoration: none;
}

.compElement:hover {
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.1);
}

:global([data-theme='dark']) .compElement {
  background-color: var(--yma-bg-dark);
  border: 2px solid #2d2f33;
}

:global([data-theme='dark']) .compElement:hover {
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.1);
  border: 2px solid #dc0988;
}

.compImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.compGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: baseline;
}

@media (max-width: 800px) {
  .compGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .compGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>

<div class="compGrid">
  {data.map((compGridProps) => (
    <div class="compElement">
      {compGridProps.href ? (
        <a href={compGridProps.href} class="compLink">
          <div>
            <img class="compImage" src={compGridProps.src} loading="lazy" alt={compGridProps.title} />
          </div>
          <div class="compFooter">
            <p class="compTitle">{compGridProps.title}</p>
            {compGridProps.badge && <span class="compBadge">{compGridProps.badge}</span>}
            <p class="compDescription">{compGridProps.description}</p>
          </div>
        </a>
      ) : (
        <>
          <div style="cursor: not-allowed;">
            <img class="compImage" src={compGridProps.src} alt={compGridProps.title} />
          </div>
          <div class="compFooter" style="cursor: not-allowed;">
            <h3 class="compTitle">{compGridProps.title}</h3>
            {compGridProps.badge && <span class="compBadge">{compGridProps.badge}</span>}
            <p class="compDescription">{compGridProps.description}</p>
          </div>
        </>
      )}
    </div>
  ))}
</div>
