---
import { Code, Tabs, TabItem } from "@astrojs/starlight/components";
import beautify from "js-beautify";

interface LiveProps {
  data: string;
  noScroll?: boolean;
  useCenter?: boolean;
  useExternal?: string;
  useHeight?: string;
  useMarks?: string[];
  usePadding?: boolean;
  useTabs?: boolean;
  useVersion?: string;
  useWrap?: boolean;
}

const { 
  data, 
  noScroll = false, 
  useCenter = false, 
  useExternal = "",
  useHeight = "300px",
  useMarks: useMarks = [],
  usePadding = false, 
  useTabs = false, 
  useVersion = "", 
  useWrap = false,
} = Astro.props as LiveProps;

const formatHTML = (html: string) => beautify.html(html, {
  indent_size: 4,
  preserve_newlines: false,
  wrap_line_length: 160,
});

const newContainer = (
  stylesheet: string, 
  flex: string, 
  useCenter: boolean, 
  usePadding: boolean, 
  noScroll: boolean, 
  newCode: string
) => `
  <html>
    <head>
      <link rel="stylesheet" href="${stylesheet}">
      <style>
        #preview-tab {
          ${flex} 
          justify-content: ${useCenter ? "center" : "flex-start"}; 
          align-items: ${useCenter ? "center" : "flex-start"};
          ${usePadding ? "padding: 12px 14px;" : ""}
          ${noScroll ? "overflow-y: hidden;" : ""}
        }
        ${noScroll ? "body { overflow-y: hidden; }" : ""}
      </style>
    </head>
    <body>
      <div id="preview-tab">${newCode}</div>
    </body>
  </html>
`;

const stylesheet = useExternal || `https://cdn.jsdelivr.net/gh/yumma-lib/yumma-css@${useVersion}/dist/yumma.css`;

const flexbox = useCenter ? "display: flex;" : "";
const newCode = formatHTML(data);
const container = newContainer(
  stylesheet, 
  flexbox, 
  useCenter, 
  usePadding, 
  noScroll, 
  newCode
);
---

<style>
.previewIframe {
  background-color: #f5f6f8;
  background-image: linear-gradient(rgba(203, 206, 210, 0.16) 1px, transparent 1px), linear-gradient(to right, rgba(203, 206, 210, 0.16) 1px, rgb(245, 246, 248) 1px);
  background-size: 20px 20px;
  border: 1px solid #cbced2;
  overflow-y: auto;
  width: 100%;
}
</style>

<div>
  {useTabs ? (
    <Tabs>
      <TabItem label="Live">
        <iframe
          loading="lazy"
          sandbox="allow-scripts allow-same-origin"
          srcdoc={container}
          class="previewIframe"
          style={`height: ${useHeight};`}
        />
      </TabItem>
      <TabItem label="Markup">
        <div>
          <Code 
            code={newCode} 
            lang="html"
            mark={useMarks} 
            wrap={useWrap} 
          />
        </div>
      </TabItem>
    </Tabs>
  ) : (
    <div>
      <iframe
        loading="lazy"
        sandbox="allow-scripts allow-same-origin"
        srcdoc={container}
        class="previewIframe"
        style={`height: ${useHeight};`}
      />
      <div class="codeContainer">
        <Code code={newCode} lang="html" mark={useMarks} wrap={useWrap} />
      </div>
    </div>
  )}
</div>
