---
import { Code } from '@astrojs/starlight/components';
import { Tabs, TabItem } from '@astrojs/starlight/components';
import beautify from 'js-beautify';

interface PreviewProps {
  data: string;
  noScroll?: boolean;
  useCenter?: boolean;
  useHighlights?: string[];
  usePadding?: boolean;
  useTabs?: boolean;
  useVersion?: string;
}

const { 
  data, 
  noScroll = false, 
  useCenter = false, 
  usePadding = false, 
  useTabs = false, 
  useVersion = '', 
  useHighlights = [] 
} = Astro.props as PreviewProps;

const formatHTML = (html: string) => beautify.html(html, {
  indent_size: 4,
  preserve_newlines: false,
  wrap_line_length: 160,
});

const newContainer = (
  stylesheet: string, 
  flex: string, 
  useCenter: boolean, 
  usePadding: boolean, 
  noScroll: boolean, 
  newCode: string
) => `
  <html>
    <head>
      <link rel="stylesheet" href="${stylesheet}">
      <style>
        #preview-tab {
          ${flex} 
          justify-content: ${useCenter ? 'center' : 'flex-start'}; 
          align-items: ${useCenter ? 'center' : 'flex-start'};
          ${usePadding ? 'padding: 12px 14px;' : ''}
          ${noScroll ? 'overflow-y: hidden;' : ''}
        }
        ${noScroll ? 'body { overflow-y: hidden; }' : ''}
      </style>
    </head>
    <body>
      <div id="preview-tab">${newCode}</div>
    </body>
  </html>
`;

const flexbox = useCenter ? 'display: flex;' : '';
const content = `https://cdn.jsdelivr.net/gh/yumma-lib/yumma-css@${useVersion}/dist/yumma.css`;
const newCode = formatHTML(data);
const container = newContainer (
  content, 
  flexbox, 
  useCenter, 
  usePadding, 
  noScroll, 
  newCode
);
---

<style>
.previewIframe {
  background-color: #f5f6f8;
  border: 1px solid #cbced2;
  height: 300px !important;
  overflow-y: auto;
  width: 100%;
}
</style>

<div>
  {useTabs ? (
    <Tabs>
      <TabItem label="Preview">
        <iframe
          loading="lazy"
          sandbox="allow-scripts allow-same-origin"
          srcdoc={container}
          class="previewIframe"
        />
      </TabItem>
      <TabItem label="Markup">
        <div>
          <Code code={newCode} lang='html' mark={useHighlights} />
        </div>
      </TabItem>
    </Tabs>
  ) : (
    <div>
      <iframe
        loading="lazy"
        sandbox="allow-scripts allow-same-origin"
        srcdoc={container}
        class="previewIframe"
      />
      <div class="codeContainer">
        <Code code={newCode} lang='html' mark={useHighlights} />
      </div>
    </div>
  )}
</div>
