---
interface CardGridProps {
  icon: string;
  title: string;
  description: string;
  href?: string;
}

interface ShowcaseProps {
  data: CardGridProps[];
}

const { data } = Astro.props as ShowcaseProps;
---

<style>
.cardElement {
  background-color: var(--yma-bg-lighter);
  border: 1px solid #cdcfd3;
  text-decoration: none;
}

.cardContainer {
  margin: 12px;
}

.cardElement a:hover {
  text-decoration: none;
}

.cardElement:hover {
  background-color: #f6f7f9;
  border-color: #353841;
}

:global([data-theme='dark']) .cardElement {
  background-color: var(--yma-bg-darker);
  border: 1px solid #2d2f33;
}

:global([data-theme='dark']) .cardElement:hover {
  border-color: #424447;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-weight: 400;
  font-size: larger !important;
  color: var(--sl-color-accent) !important;
}

.cardLink {
  text-decoration: none;
}

.cardIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:global([data-theme='dark']) .cardDescription {
  color: #f6f7f9;
}

.cardDescription {
  color: #404756;
}

.cardGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

@media (max-width: 800px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>

<div class="cardGrid">
  {data.map((cardGridProps) => (
    <div class="cardElement">
      {cardGridProps.href ? (
        <a href={cardGridProps.href} class="cardLink">
          <img class="cardIcon" src={cardGridProps.icon} alt={cardGridProps.title} />
          <div class="cardContainer">
            <h4 class="cardTitle">{cardGridProps.title}</h4>
            <p class="cardDescription">{cardGridProps.description}</p>
          </div>
        </a>
      ) : (
        <>
          <img class="cardIcon" src={cardGridProps.icon} alt={cardGridProps.title} />
          <div class="cardContainer">
            <h4 class="cardTitle">{cardGridProps.title}</h4>
          <p class="cardDescription">{cardGridProps.description}</p>
          </div>
        </>
      )}
    </div>
  ))}
</div>
